<!DOCTYPE html>
<html>
    <head>
        <title>Maplesplendor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/favicon.png">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        {{ $style := resources.Get "css/main.css.scss" | toCSS| minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
    </head>
    <body class="{{ urlize .Title }}">
        <header>
            <a href="/">
            <img src="/images/logo.svg">
                <h1>maplesplendor</h1>
            </a>
            <nav>
                <ul>
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a href="{{ .URL }}">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
            <!--<span class="notification"></span>-->
        </header>

        <main>
            {{- block "main" . }}{{- end }}
        </main>
        <footer>
            <a href="#" title="back to top">
            <img src="/images/logo.svg">
            </a>
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.footer }}
                    <li class="{{ if $currentPage.IsMenuCurrent "footer" . }}active{{ end }}">
                        <a href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
            <ul>
        </footer>
        {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
        <script src="{{ $js.Permalink }}"></script>

    </body>

</html>
