{{ $image := .Get "image" }}
{{ $name := .Get "name" }}
{{ $color := .Get "color" }}
{{ $textboxes := .Parent.Get "textboxes" }}
<div class="colours">
  {{- if $image -}}
      {{- $img := .Page.Resources.GetMatch $image -}}
      {{- if $img -}}
        <img src="{{ $img.Permalink }}" />
      {{- else -}}
        {{ errorf "Cannot get image %v" $image }}
      {{- end -}}
  {{- end -}}
  <label>
    <input type="checkbox" name="product1[]" value="{{ $name }}">
    <span {{ with $color }}style="color: {{.}}"{{ end }}>
        {{ $name }}
    </span>
    {{- if $textboxes -}}
        <input type="number" min="1" name="product1[]">
    {{- end -}}
  </label>
</div>
