<div class="container">
<h1>Nice to see you here. Thanks for your loyalty.</h1>
<p>We have redesigned our website and are entering a new phase of our business. It's like painting a picture, you have to let something go for something beautiful to manifest itself.
<br><br>
If you miss our Waldorf school supplies, we still have some. <br>Please contact us: buy(at)maplesplendor.ca</p>
</div>
