<div class="container links">
    <h1><%= pdata.title %></h1>
    <% pdata.links.each do |title, links| %>
        <h2><%= title %></h2>
        <% links.each do |link, value| %>
            <a href="<%= value %>" target="_blank"><%= link %></a><br>
        <% end %>
    <% end %>
    <p class="disclaimer">
    We are not responsible for the content of external links.
    </p>
</div>
